<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <style media="screen">
          body,html{
            height: 100%;
          }
        </style>
  </head>
  <body>
    <a  href="/admin" style="font-size:10; text-decoration=none;" > => Admin page</a>

    <h1>Index page of Shortys UI</h1>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}




    <input type="text" name="" value="">



    <p>Dobrodosao : {{ name }}</p>
    <p>Prikaz date: {{ data.example }}</p>
    <p>prolazak kroz jedan niz sa if statement</p>
<ul>
      {% for item in some_list %}

        {% if '2' in item %}
        <li>
          {{ item }}
        </li>
        {% endif %}

      {% endfor %}
</ul>

<h3>User's group</h3>

<ul>

  {%for group in request.user.groups.all%}

    <li>{{group}}</li>

  {%endfor%}

</ul>




<a href="{% url 'reverse_link' %}">reverse_link</a>


{% if request.user.is_superuser %}

  <h3>U are superuser</h3>

{% elif request.user.is_staff %}

  <h3>U are staff user</h3>

{% else %}

  <h3>You are just a visitor</h3>

{% endif %}

<script type="text/javascript">

var timeoutId = null;

function activity_detector(){
  clearTimeout(timeoutID);
  timeoutID = window.setTimeout(inactivity_logout, 3000);
  console.log('action mouse moving on page')
}

function inactivity_logout(){
  window.location.href ='/logout_page';
}

  $(document).ready(function(){
    timeoutID = window.setTimeout(inactivity_logout, 3000);
    $(document).on('keypress',activity_detector);
    $('body').on('mousemove',activity_detector);
  })
</script>


  </body>
</html>
