{% extends "ui/base.html" %}

{% block heading %}
About us
{% endblock%}

{% block aboutus%}
<div class="row-fluid">
        <div class="span8">
<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2827.3055564037663!2d20.636001515522068!3d44.876430379098416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7e927069558f%3A0xaf891abc7465a195!2z0JrQsNGA0LDRktC-0YDRktC10LLQsCwg0J_QsNC90YfQtdCy0L4!5e0!3m2!1ssr!2srs!4v1496762740360" ></iframe>

      </div>

        <div class="span4">
        <h2>FlowLabs</h2>
        <address>
          <strong>Address:</strong><br>
          Karadjordjeva 6<br>
          Srbija<br>
          <abbr title="Phone">P:</abbr> 01234 567 890
        </address>
      </div>
    </div>
{% endblock %}
