{% extends "ui/base.html" %}

{% block jumbotron %}
<div class="jumbotron">
  <h1>Do you know TTASM?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu odio lacus. Fusce non felis vel magna tincidunt rhoncus. In fringilla, augue at sodales porttitor, nulla enim eleifend erat, id laoreet sem nisl vel ligula. Donec dui urna, lobortis quis ante vitae, tincidunt pharetra ligula. Nunc quis dictum nisl. Mauris viverra, eros nec molestie commodo, velit justo vulputate mi, at porta enim nisi ut elit. Mauris cursus at enim at sagittis. Fusce scelerisque tellus quis ante dignissim laoreet. Integer elementum sodales nulla, sed aliquet tortor vestibulum vel. Cras egestas ante velit, a volutpat erat consequat sed.

    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
{% endblock %}

{% block heading %}
Home
{% endblock%}
