<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <style media="screen">
      html, body {
        height: 100%;
      }
    </style>
  </head>
  <body>

    <h2>Sign Up</h2>

    <form action=''>
      <p>
        <label for='id_username'><b>Username:</b></label></br>
        <input id='id_username' type='text' name='username' autofocus required>
        <span style='color:red'>*</span>
      </p>
      <p>
        <label for='id_first_name'><b>First name:</b></label></br>
        <input id='id_first_name' type='text' name='first_name' required>
        <span style='color:red'>*</span>
      </p>
      <p>
        <label for='id_last_name'><b>Last name:</b></label></br>
        <input id='id_last_name' type='text' name='last_name' required>
        <span style='color:red'>*</span>
      </p>
      <p>
        <label for='id_email'><b>Email:</b></label></br>
        <input id='id_email' type='email' name='email' required>
        <span style='color:red'>*</span>
      </p>
      <p>
        <label for='id_password1'><b>Password:</b></label></br>
        <input id='id_password1' type='password' name='password1' required>
        <span style='color:red'>*</span>
      </p>
      <p>
        <label for='id_password2'><b>Confirm password:</b></label></br>
        <input id='id_password2' type='password' name='password2' required>
        <span style='color:red'>*</span>
      </p>

      <button type="submit">Sign up</button>

    </form>
  </body>
</html>
