{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/blaze/3.2.2/components.cards.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/blaze/3.2.2/components.buttons.min.css" rel="stylesheet" crossorigin="anonymous">
    <style media="screen">
      html, body {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <a href="/admin" style="font-size: 9px;">Visit Admin page</a>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="c-card u-higher">
          <div class="c-card__item c-card__item--brand">{{ message.title }}</div>
          <div class="c-card__item">
            <p class="c-paragraph">{{ message }}</p>
          </div>
        </div>
        {% endfor %}
    </ul>
    {% endif %}

    <h2>Sign Up</h2>

    {% if messages %}
    {% endif %}
    <!-- TODO: research django allowed maxchar, paterns etc. for each field -->
    <form method='POST'>
      {% csrf_token %}
      <p>
        <label for='id_username'><b>Username:</b></label></br>
        <input id='id_username' type='text' name='username'  maxlength='150' autofocus required>
        <span style='color:red'>*</span>
      </p>
      <p>
        <label for='id_first_name'><b>First name:</b></label></br>
        <input id='id_first_name' type='text' name='first_name' minlength='1' maxlength='30'>
      </p>
      <p>
        <label for='id_last_name'><b>Last name:</b></label></br>
        <input id='id_last_name' type='text' name='last_name' minlength='1' maxlength='30'>
      </p>
      <p>
        <label for='id_email'><b>Email:</b></label></br>
        <input id='id_email' type='email' name='email' minlength='6' maxlength='254' required>
        <span style='color:red'>*</span>
      </p>
      <p>
        <label for='id_password1'><b>Password:</b></label></br>
        <input id='id_password1' type='password' name='password1' minlength='8' maxlength='50' required>
        <span style='color:red'>*</span>
      </p>
      <p>
        <label for='id_password2'><b>Confirm password:</b></label></br>
        <input id='id_password2' type='password' name='password2' minlength='8' maxlength='50' required>
        <span style='color:red'>*</span>
      </p>

      <button type="submit">Sign up</button>

    </form>

  <!-- JavaScript -->
  <script src="{% static '/js/password_confirmation.js' %}"></script>
  </body>
</html>
